<% include ../partials/header %>

  <div class="vh-100 d-flex justify-content-center align-items-center">
    <a href="/presupuestos/"><i class="fas fa-arrow-left h2 p-0 m-0"></i></a>
    <div id="inicio" class="d-flex flex-column justify-content-center bg-primary">
      <a href="/presupuestos/new" class="btn btn-info my-2">Crear presupuesto</a>
      <a href="#" class="btn btn-info my-2">Buscar presupuesto</a>
    </div>
  </div>

<% include ../partials/footer %>
